* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

/* Header */

.centerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerNavWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.deliverTo {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #424242;
}

.location {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}
.currentLocation {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #424242;
  text-align: center;
}

.rightNavWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.rightNav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.loginButton button {
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  box-shadow: 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
  background-color: rgba(255, 255, 255, 1);
}

.loginButton button span {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffb800;
  text-align: center;
}
.searchFood {
  line-height: 18px;
}

.loginButton button:hover {
  background-color: #3498db;
}

/* hero */

.hero {
  background-image: url(../images/Hero/HeroBg.png);
  min-height: calc(100vh - 56px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.heroRightImg {
  height: 497px;
  width: 497px;
  position: absolute;
  right: 347px;
  bottom: -90px;
}

.leftHero {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
}

.leftHero h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  color: #ffffff;
}
.leftHero p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #504f4f;
}

.heroFormWrapper {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  z-index: 100;
}
.formBtnWrapper button {
  display: flex;
  gap: 10px;
  border: none;
}

.formBtnWrapper,
.formInputWrapper {
  padding: 24px;
}

.formBtnWrapper ul {
  display: flex;
  gap: 8px;
}

.pickUpBtn button,
.deliveryBtn button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.nav-pills .nav-link.active {
  background: #f172281a;
}

.nav-pills .nav-link.active {
  color: #f17228;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link {
  padding: 10px 24px;
  border-radius: 8px;
}

.nav-pills .nav-link {
  background-color: #fff;
  color: #757575;
}

.inputBtnWrapper {
  display: flex;
  gap: 16px;
}
.inputWrapper {
  padding: 7px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f5f5f5;
  width: 100%;
}
.inputWrapper input {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  outline: none;
  border: none;
  color: #9e9e9e;
  background: #f5f5f5;
  width: 100%;
}
.heroBtnWrapper button {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border: none;
  white-space: nowrap;
  gap: 10px;
  border-radius: 8px;
  padding: 21px 48px;
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
}

.heroBtnWrapper button img {
  height: 16px;
  width: auto;
  transition: transform 0.3s ease;
}

.heroBtnWrapper button:hover {
  color: #f17228;
  background-color: aqua;
  background-image: none;
}

/* end header */

/* dish */

.dishSection {
  padding: 88px 0;
}

.dishCard {
  position: relative;
  z-index: 1;
}

.dishCard img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.percentage {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  padding: 10px 18px 10px 18px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 16px;
  background-color: #ffb30e;
}
.percentNum {
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
}
.percentageOff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.percentageSymbol {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
}

.dishInfo {
  display: flex;
  flex-direction: column;
}

.dishCaption {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: transform(1.1);

  & :hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.dishInfo .dishName {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #424242;
  margin-bottom: 14px;
}

.dishInfo .daysRemaining {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #f17228;
  border-radius: 8px;
  padding: 6px 16px;
  background-color: #f1722833;
}

/* dish end */

/* search food */

.searchFoodMenu {
  display: flex;
  justify-content: space-between;
}

.searchTitle {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-content: center;
}

.searchFoodBtns {
  display: flex;
}

.directionArrows {
  display: flex;
  padding: 10px 11px 10px 9px;
  gap: 16px;
}

.searchFoodSectionContent {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
  margin-bottom: 55px;
  gap: 88px;
}

.searchFoodBtns button {
  padding: 21px;
}

.viewAll {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  font-size: 18px;
  color: #ffb30e;
}

.searchFoodSection .searchFoodBtns .SearchArrow {
  background-color: #ffb30e;
  box-shadow: 0px 5px 8px 0px #de97003d;
  border: none;
  border-radius: 200px;
}

.cardImgWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.cardImgWrapper img {
  border-radius: 144px;
}

.cardTitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #424242;
}

.slick-slide {
  width: 100%;
}

.viewAll:hover {
  color: skyblue;
}

/* end search food */

/* delivery */

.deliveryBg {
  background-color: #feefd0;
  padding: 130px 127px 80px 127px;
}

.deliveryCards {
  display: flex;
  background-color: #ffffff;
  border-radius: 46px;
  box-shadow: 0px 27px 82px 0px #ffae0047;
  box-shadow: 0px 14px 15px 0px #ffae0003;
  padding: 55px 43px 55px 43px;
}

.deliveryWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.deliveryWrapper .iconWrapper img {
  height: 100%;
  width: 100%;
}

.deliveryCard {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 33%;
}

.deliveryheading span {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  color: #fb3c00;
}

/* end discount */

.appDownloadSection {
  background-image: url(../images/Hero/HeroBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.curveBg {
  background-image: url(../images/AppDownload/CurveImg.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: -80px;
  z-index: 2;
}

.appDownloadSection .container {
  position: relative;
  z-index: 3;
}

.mobileImg {
  position: relative;
  bottom: 0;
}
.mobileImg img {
  height: 100%;
  width: 100%;
}

.installAppWrapper .installAppText {
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 16px;
  color: #ffb30e;
}

.appDownloadBtn {
  display: flex;
  gap: 12px;
  align-items: center;
}
.appDownloadBtn .appDownloadBtnText {
  display: flex;
  flex-direction: column;
}

.installAppWrapper .installAppInfo {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  color: #827e7e;
}

.storeButtons {
  display: flex;
  gap: 8px;
}

.storeButtons button {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 10px 13px;
  box-shadow: 0px 20px 40px 0px #ffae004a;
  box-shadow: 0px 5px 10px 0px #ffae0042;
}

.btnText2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
}

.btnText1 {
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}

.appDownloadBtn:hover {
  background-color: #3498db;
}

/* Discount */

/* best Deal */

.bestDealsCardsWrapper {
  padding: 80px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.bestDealCard {
  max-height: 1806px;
}

.dealImgWrapper img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.dealInfo {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 56px;
}

.bestDealCard {
  display: flex;
  border-radius: 16px;
  box-shadow: 0px 14px 15px 0px #7c7c7c0f;
  border: none;
}

.dishInfo .orderDishName {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
  text-align: left;
  color: #ffb800;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.bestDealOrderBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  padding: 21px 48px 21px 48px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 8px;
}

.bestDealOrderBtn img {
  height: 16px;
  width: 10px;
}

.dishInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.dishInfo p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #616161b0;
}

.evenCard .row {
  flex-direction: row-reverse;
}

.evenCard .dealImgWrapper img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bestDealOrderBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.bestDealOrderBtn:hover img {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

/* end best deal*/

/* order-section */

.order {
  background-image: url(../images/order.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.orderWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  padding: 80px;
}

.orderWrapper p {
  font-size: 57px;
  font-weight: 900;
  line-height: 58px;
  color: #ffffff;
  margin-bottom: 62px;
  width: 100%;
  display: inline-block;
  white-space: pre-line;
  text-align: center;
}

.orderBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #f17228;
  padding: 21px 25px;
  border-radius: 8px;
}

.orderBtn button {
  background-color: transparent;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  border: none;
  color: #ffffff;
  padding-right: 10px;
}

.orderBtn:hover {
  background-color: #3498db;
}

/* footer section */

footer {
  background-color: #212121;
  color: #ffffff;
  padding: 40px 0;
}

footer .footerWrapper {
  gap: 116px;
}

footer .companyInfo h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 40px;
}

footer .companyInfo ul {
  padding-left: 0;
}

footer .companyInfo ul li {
  margin-bottom: 16px;
}

footer .companyInfo ul li a {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  white-space: noWrap;
  color: #ffffff;
}

footer .companyInfo ul li a:hover {
  color: #3498db;
}

.footerHead {
  padding-bottom: 63px;
  border-bottom: 2px solid #424242;
}

.followUS {
  display: flex;
  flex-direction: column;
}

.followUS h4 {
  margin-bottom: 40px;
  color: #bbbbbb;
}

.followUS .socialMediaIcon {
  margin-bottom: 40px;
  display: flex;
  gap: 16px;
}
.followUS .socialMediaIcon img {
  opacity: 31%;
}

.followUS h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #bbbbbb;
  margin-bottom: 40px;
}

.emailInputWrapper {
  display: flex;
  background-color: #424242;
  padding: 21px 15px;
  border-radius: 8px;
  gap: 10px;
}

.emailInputWrapper input {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.inputField {
  display: flex;
  align-items: center;
  gap: 14px;
}

.subscribe {
  background-color: #ffb800;
  border-radius: 8px;
  padding: 21px 24px;
}

.subscribe button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.subscribe:hover {
  background-color: #3498db;
}

.copyRightWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.CopyRight {
  display: flex;
  align-items: center;
}

.CopyRight .rightCopyRight img {
  height: 18px;
  padding: 0 10px;
}

.CopyRight h4 {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
}

.CopyRight h5 {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
}

.rightCopyRight {
  display: flex;
  align-items: center;
}

.leftCopyRight {
  display: flex;
  gap: 8px;
  padding-left: 0;
  align-items: center;
}

.leftCopyRight img {
  height: 18px;
}

@media (max-width: 768px) {
  .footerHead {
    display: flex;
  }

  .copyRightWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 990px) {
  .order {
    background-image: none;
    background-color: #ffb800;
  }
}

@media (max-width: 768px) {
  .dishes {
    gap: 70px;
  }
  .deliveryCards {
    gap: 50px;
  }
  .appdownloadWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .heroRightImg {
    display: none;
  }
  .mobileImg {
    bottom: 0px;
  }
  .installAppWrapper {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 1401px) {
  .footerHead .col-md-8 {
    flex: 0 0 100%;
  }

  .footerHead .col-md-4 {
    flex: 0 0 100%;
    margin-top: 63px;
  }
}

@media (max-width: 992px) {
  .mobileImg {
    bottom: -90px;
  }
  .installAppWrapper {
    position: relative;
    bottom: 35px;
  }
}

@media (max-width: 1573px) {
  .heroRightImg {
    display: none;
  }
}
