* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

h2 {
  color: #21243d;
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #21243d;
}

.leftHeader {
  display: flex;
}

.leftHeader a :hover {
  color: magenta;
}

.rightHeader ul {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.rightHeader a {
  color: #000000;
  font-size: 20px;
  line-height: 30px;
}

.rightHeader a:hover {
  color: aqua;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  min-height: calc(100vh - 66px);
  align-items: center;
  gap: 30px;
}

.bannerContent .intro {
  line-height: 60px;
  font-size: 44px;
  color: #21243d;
  margin-bottom: 40px;
}

.bannerContent p {
  margin-bottom: 40px;
}

.bannerContent button {
  background-color: #ff6464;
  color: #ffffff;
  line-height: 30px;
  font-size: 20px;
  border-radius: 2px;
  padding: 10px 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #c52d2d;
}

.bannerImg img {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.recentPostsWrapper {
  background-color: #edf7fa;
}

.wrapperItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent h2 {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
}

.wrapperItem a {
  text-decoration: underline;
}

.recentPosts {
  display: flex;
  gap: 20px;
}

.post h2 {
  margin-bottom: 10px;
}

.recentPosts .postDate {
  display: flex;
  margin-bottom: 10px;
  gap: 30px;
}

.postDate h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.recentPosts h2 {
  font-size: 26px;
  line-height: 39px;
}

.post {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 24px;
}

.post:hover {
  background-color: antiquewhite;
}

.featuredWorksWrapper {
  margin: 0 auto;
}

.feature {
  line-height: 60px;
  font-size: 22px;
  font-weight: 400;
}

.card {
  display: flex;
  gap: 20px;
}

.card img {
  width: 246px;
  border-radius: 6px;
}

.cardinfo h2 {
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 16px;
}

.yearUpdate {
  display: flex;
  gap: 20px;
  padding-right: 10px;
  color: #8695a4;
  margin-bottom: 34px;
}

.year {
  color: #ffffff;
  background-color: #142850;
  width: 62px;
  font-size: 18px;
  border-radius: 16px;
  text-align: center;
}

hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}

.footer {
  padding: 35px;
}
.sectionFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons img {
  width: 30px;
}

.footer a {
  display: inline-block;
}

.footer p {
  margin-top: 10px;
  width: 222px;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .header {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .recentPosts {
    display: flex;
    flex-direction: column;
  }

  .recent h2 {
    display: flex;
    justify-content: center;
  }

  .feature {
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .wrapperItem a {
    display: none;
  }

  .card img {
    width: 100%;
  }

  .sectionFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapperItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
