* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

.header {
  display: flex;
  width: 1170px;
  height: 40px;
  margin: 60px auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.left-header {
  display: flex;
}

.right-header {
  ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  a {
    width: 57px;
    height: 43px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
  }
}

.main {
  /* width: 1170px; */
  margin: 60px auto;
}

.first-main {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  height: 50vh;
}

.content {
  width: 506px;
  height: 105px;

  .intro {
    width: 506px;
    height: 105px;
    line-height: 60px;
    font-size: 44px;
    color: #21243d;
    margin-bottom: 40px;
  }

  p {
    width: 497px;
    height: 66px;
    line-height: 24px;
    font-size: 16px;
    columns: #21243d;
    margin-bottom: 40px;
  }

  a {
    background-color: #ff6464;
    width: 167px;
    height: 21px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 2px;
    padding: 10px 10px;
    color: #ffffff;
  }
}

.img-container {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url("image.jpg");
}

.second-main {
  background-color: #edf7fa;
  height: 396px;
}

.second1 {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 10px;

  ul {
    display: flex;
    justify-content: space-between;

    .recent {
      color: #21243d;
    }
  }
}

.second2 {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  p {
    width: 368px;
    height: 117px;
    line-height: 23px;
    font-size: 16px;
    columns: #21243d;
    margin-bottom: 5px;
    margin: 10px;
  }

  .date ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 10px;
  }

  h2 {
    margin: 10px;
    width: 374px;
    height: 85px;
    font-size: 26px;
    line-height: 39px;
    color: #21243d;
  }
}

.design-system {
  width: 500px;
  height: 295px;
  background-color: #ffffff;
  border-radius: 4px;
}

.perfect-icon {
  width: 500px;
  height: 295px;
  background-color: #ffffff;
  border-radius: 4px;
}

.third-main {
  width: 1170px;
  margin: 0 auto;

  h3 {
    width: 152px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    color: #21243d;
  }
}

.third1 {
  display: flex;
  gap: 20px;

  img {
    width: 246px;
    height: 180px;
    border-radius: 6px;
  }
}

.third11 {
  h2 {
    width: 305px;
    height: 44px;
    font-size: 30px;
    line-height: 44px;
  }

  ul {
    display: flex;
    margin-bottom: 10px;
  }

  li {
    padding-right: 10px;
  }

  p {
    width: 580px;
    height: 117px;
    font-size: 16px;
    line-height: 23px;
  }

  .year {
    color: #ffffff;
    background-color: #000000;
    height: 25px;
    width: 62px;
    font-size: 18px;
    border-radius: 16px;
    text-align: center;
    margin-right: 10px;
  }
}

hr {
  margin-bottom: 10px;
}
